$color-primary:#512DA8;
$color-primary-light:#DA4453;
$color-secondary:#DA4453;

$color-green-primary:#00b09b;

$base-font:'Roboto', sans-serif;


$max-width:114rem;

$horizontal-gutter:8rem;
$vertical-gutter:3rem;