.checkout-page{
    height: 70vh;
    width: 80vw;
    margin: 0 auto;
    padding: 5rem 3rem;
    background-color:$color-primary;
    //background-color: rgba(233, 231, 231, 0.418);
    border-radius: 5px;
    box-shadow: 0 2px .9rem 0 rgba(#333,.3);

        &__img-box{
            display: block;
            float: left;
            //display: block;
            width: 50%;
            margin-top: 40px;
            outline-offset: 10px;
            opacity: .9;
            outline: 1.2rem solid rgba(#fff,.9);
            transition: opacity .3s;


            &:hover{
                opacity: 1;
            }

        }


}