@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

/* Fonts from Google Fonts - more at https://fonts.google.com */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  text-align: center; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

@keyframes addIngredient {
  0% {
    transform: translateX(-100px);
    opacity: .4; }
  80% {
    transform: translateX(-30px);
    opacity: .9; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  width: 70%;
  padding: 5px 0;
  background: #512DA8;
  text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.2);
  line-height: 100%;
  color: white;
  padding: 10px;
  margin: 0 auto;
  display: inline-block; }

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0 30px 0; }

.container {
  max-width: 114rem;
  margin: 5rem auto; }
  .container ::after {
    content: "";
    display: block;
    clear: both; }
  .container [class^="col-"] {
    float: left; }
    .container [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .container .row {
    width: 100%; }
    .container .row:not(:last-child) {
      margin-bottom: 3rem; }
    .container .row .col-1-of-4 {
      width: calc((100% - 3 * 8rem)/4); }
    .container .row .col-2-of-4 {
      width: calc(((100% - 3 * 8rem)/4) * 2 + 1 * 8rem); }
    .container .row .col-3-of-4 {
      width: calc(((100% - 3 * 8rem)/4) * 3 + 2 * 8rem); }
    .container .row .col-4-of-4 {
      width: calc(((100% - 3 * 8rem)/4) * 4 + 3 * 8rem); }

.panel {
  height: auto;
  padding: 3rem 12rem;
  background-color: rgba(233, 231, 231, 0.164); }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 1000;
  display: none;
  transform: scale(0.1);
  transition: all .2s ease-out; }
  .backdrop:target {
    display: block;
    transform: scale(1); }
  .backdrop:hover .order-summary {
    transform: translate(-50%, -50%) scale(1); }

.order-summary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 80%;
  height: auto;
  background-image: linear-gradient(90deg, #da4453 50%, white 50%);
  background-size: cover no-repeat;
  border-radius: 5px;
  transition: all .4s ease; }
  .order-summary .order-price {
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.order-item {
  height: auto;
  padding: .5rem 1rem;
  background-color: rgba(233, 231, 231, 0.308);
  margin-top: 1rem; }

.checkout-form {
  float: right;
  width: 50%; }
  .checkout-form .form-group {
    width: 75%;
    background-color: red;
    margin: 0 auto; }
    .checkout-form .form-group:not(:last-child) {
      margin-bottom: 2rem; }

.checkout-page {
  height: 60vh;
  width: 80vw;
  margin: 0 auto;
  padding: 5rem 3rem;
  table-layout: auto; }
  .checkout-page__img-box {
    display: block;
    float: left;
    width: 50%;
    margin-top: 5px;
    outline-offset: -20px;
    outline: 1.2rem solid rgba(81, 45, 168, 0.7); }

/* Set the maximum width of your burger */
.burger {
  max-width: 50rem;
  margin: 5rem auto;
  max-height: 60rem;
  overflow: scroll;
  /* This center-aligns all of the ingredients */ }
  .burger:hover div[class^='burger__'] {
    margin-bottom: .5rem; }
  .burger div[class^='burger__'] {
    transition: all .3s;
    animation: addIngredient .5s ease-in-out; }
  .burger div {
    margin: 0 auto; }
  .burger__bun-top {
    height: 7rem;
    width: 60%;
    background: #e5b05a;
    border-radius: 10rem 10rem 2rem 2rem;
    border-bottom: solid 1rem rgba(0, 0, 0, 0.1); }
  .burger__cheese {
    height: 1.5rem;
    width: 65%;
    background: #f2c120;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1); }
  .burger__tomato {
    height: 2.5rem;
    width: 50%;
    background-color: #dd3710;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1); }
  .burger__meatball {
    height: 6rem;
    width: 7rem;
    background: #74380d;
    border-radius: 5rem;
    display: inline-block;
    vertical-align: top; }
  .burger__patty {
    height: 3.5rem;
    width: 65%;
    background: #ad370b;
    border-radius: 1.5rem;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1); }
  .burger__pickle {
    height: 3rem;
    width: 50%;
    background: #3ac67d;
    border-radius: 0 0 10rem 10rem;
    border-bottom: solid 1rem #2d9961; }
  .burger__onion {
    width: 40%;
    background-color: #a039bf;
    border-top: dotted 2rem rgba(255, 255, 255, 0.2); }
  .burger__bun-bottom {
    height: 3.5rem;
    width: 60%;
    background: #e5b05a;
    border-radius: 2rem 2rem 4rem 4rem;
    border-top: solid 0.8rem rgba(0, 0, 0, 0.1); }

.header {
  padding: 1rem 1rem;
  background: #512DA8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #512DA8, #673AB7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #512DA8, #DA4453);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0.5rem 2rem rgba(51, 51, 51, 0.5);
  font-size: 1rem;
  height: 10vh;
  margin-bottom: 5rem; }
  .header__logo {
    float: left;
    width: 10rem; }
    .header__logo ::after {
      content: "";
      display: block;
      clear: both; }
  .header__logo-link {
    text-decoration: none;
    color: white; }
  .header__logo-img {
    color: #333;
    display: block;
    float: left;
    width: 100%; }
  .header__nav {
    list-style: none;
    display: inline-block;
    font-size: 1.6rem; }
  .header__nav-item {
    display: inline-block; }
  .header__nav-link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 2rem; }
    .header__nav-link:hover {
      border-bottom: 3px solid #DA4453; }
  .header__auth {
    float: right; }
  .header__auth-nav {
    list-style: none; }
  .header__auth-nav-item {
    display: inline-block; }
  .header__auth-nav-link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem; }
    .header__auth-nav-link:hover {
      border-bottom: 3px solid #fff; }

.plate {
  height: 2.5rem;
  width: 90%;
  background: #656565;
  border-radius: 2rem 2rem 20rem 20rem;
  margin: 0 auto; }

.controller {
  padding: 5px 0; }
  .controller ::after {
    content: "";
    display: block;
    clear: both; }
  .controller:not(:last-child) {
    margin-bottom: .5rem; }
  .controller__icon {
    display: block;
    float: left;
    width: 3rem;
    margin-right: 1rem;
    margin-top: .3rem; }
  .controller__ingredient {
    display: block;
    font-size: 1.4rem;
    float: left;
    margin-top: 2rem;
    padding: 1px;
    width: 40%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    color: #512DA8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  .controller__control-btn {
    float: right;
    width: 50%;
    margin-top: -2rem; }
  .controller__item-price {
    width: 20rem;
    float: right;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    margin-right: 6rem;
    color: #512DA8;
    font-weight: 500; }
    .controller__item-price .quant {
      display: inline-block;
      float: left;
      color: #00b09b; }
    .controller__item-price .up {
      display: inline-block; }
  .controller__btn {
    text-decoration: none;
    outline: none;
    border: none;
    height: 2rem;
    display: inline-block;
    width: 40%;
    background-color: #512DA8;
    color: white;
    box-shadow: 0 0.4rem 0.8rem rgba(119, 116, 116, 0.8);
    cursor: pointer;
    transition: all .2s; }
    .controller__btn:not(:last-child) {
      margin-right: 2px; }
    .controller__btn:active {
      transform: translateY(1px);
      box-shadow: 0 0.2rem 0.7rem rgba(119, 116, 116, 0.8); }
    .controller__btn--add {
      border-radius: 50px 0 0 50px; }
    .controller__btn--remove {
      border-radius: 0 50px 50px 0; }

.checkout-btn:link, .checkout-btn:visited {
  display: block;
  width: 25rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  margin: 0 auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: all .2s;
  box-shadow: 0 0.7rem 1rem rgba(134, 131, 131, 0.5);
  background-image: linear-gradient(to left, #512DA8, #DA4453);
  cursor: pointer;
  pointer-events: all; }

.checkout-btn--isDisabled {
  display: block;
  width: 25rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  margin: 0 auto;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: all .2s;
  box-shadow: 0 0.7rem 1rem rgba(134, 131, 131, 0.5);
  background-color: grey;
  color: black;
  pointer-events: none; }

.checkout-btn:hover {
  color: white; }

.checkout-btn:active {
  transform: translateY(1px);
  box-shadow: 0 0.4rem 1rem rgba(134, 131, 131, 0.5); }

.checkout-btn__icon {
  color: inherit; }

.checkout-btn__price {
  font-size: 2.5rem; }

.close-btn {
  text-decoration: none;
  font-size: 2.5rem;
  color: #512DA8;
  font-weight: 600;
  display: block;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  transition: all .2s; }
  .close-btn:hover {
    font-size: 1.8rem; }
    .close-btn:hover::after {
      content: " close"; }

.order-btn {
  display: inline-block;
  margin-top: 5rem;
  margin-right: 2rem;
  text-decoration: none;
  padding: 1rem 3rem;
  width: 20%;
  border-radius: 50px;
  border: 2px solid #512DA8;
  transition: all .3s; }
  .order-btn:active {
    transform: translateY(2px); }
  .order-btn:hover {
    background-color: #512DA8;
    color: white; }
  .order-btn--confirm {
    border: 2px solid #512DA8; }
  .order-btn--abort {
    border: 2px solid #DA4453; }
    .order-btn--abort:hover {
      background-color: #DA4453;
      color: white; }
  .order-btn--edit {
    border: 2px solid #00b09b; }
    .order-btn--edit:hover {
      background-color: #00b09b;
      color: white; }
