@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

/* Fonts from Google Fonts - more at https://fonts.google.com */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  text-align: center; }

h1 {
  font-family: "Merriweather", serif;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  background: #e43a15;
  text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.2);
  line-height: 100%;
  color: white;
  padding: 10px;
  margin: 0 auto;
  display: inline-block; }

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0 30px 0; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.container {
  max-width: 114rem;
  margin: 5rem auto; }
  .container ::after {
    content: "";
    display: block;
    clear: both; }
  .container [class^="col-"] {
    float: left; }
    .container [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .container .row {
    width: 100%; }
    .container .row:not(:last-child) {
      margin-bottom: 3rem; }
    .container .row .col-1-of-4 {
      width: calc((100% - 3 * 5rem)/4); }
    .container .row .col-2-of-4 {
      width: calc(((100% - 3 * 5rem)/4) * 2 + 1 * 5rem); }
    .container .row .col-3-of-4 {
      width: calc(((100% - 3 * 5rem)/4) * 3 + 2 * 5rem); }
    .container .row .col-4-of-4 {
      width: calc(((100% - 3 * 5rem)/4) * 4 + 3 * 5rem); }

/* Set the maximum width of your burger */
.burger {
  max-width: 50rem;
  margin: 0 auto;
  /* This center-aligns all of the ingredients */ }
  .burger div {
    margin: 0 auto; }
  .burger__bun-top {
    height: 7rem;
    width: 60%;
    background: #e5b05a;
    border-radius: 10rem 10rem 2rem 2rem;
    border-bottom: solid 1rem rgba(0, 0, 0, 0.1); }
  .burger__cheese {
    height: 1.5rem;
    width: 65%;
    background: #f2c120;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1); }
  .burger__tomato {
    height: 2.5rem;
    width: 50%;
    background-color: #dd3710;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1); }
  .burger__meatball {
    height: 6rem;
    width: 7rem;
    background: #74380d;
    border-radius: 5rem;
    display: inline-block;
    vertical-align: top; }
  .burger__patty {
    height: 3.5rem;
    width: 65%;
    background: #ad370b;
    border-radius: 1.5rem;
    border-bottom: solid 2px rgba(0, 0, 0, 0.1); }
  .burger__pickle {
    height: 3rem;
    width: 50%;
    background: #3ac67d;
    border-radius: 0 0 10rem 10rem;
    border-bottom: solid 1rem #2d9961; }
  .burger__onion {
    width: 40%;
    background-color: #a039bf;
    border-top: dotted 2rem rgba(255, 255, 255, 0.2); }
  .burger__bun-bottom {
    height: 3.5rem;
    width: 60%;
    background: #e5b05a;
    border-radius: 2rem 2rem 4rem 4rem;
    border-top: solid 0.8rem rgba(0, 0, 0, 0.1); }

.header {
  padding: 1rem 1rem;
  background: #512DA8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #512DA8, #673AB7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #512DA8, #e43a15);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 0.5rem 2rem rgba(51, 51, 51, 0.9);
  font-size: 1rem;
  height: 10vh;
  margin-bottom: 5rem; }
  .header__logo {
    float: left; }
  .header__logo-link {
    color: #333; }
  .header__logo-img {
    color: #333; }
  .header__nav {
    list-style: none;
    display: inline-block; }
  .header__nav-item {
    display: inline-block; }
  .header__nav-link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 2rem; }
    .header__nav-link:hover {
      border-bottom: 3px solid #e43a15; }
  .header__auth {
    float: right; }
  .header__auth-nav {
    list-style: none; }
  .header__auth-nav-item {
    display: inline-block; }
  .header__auth-nav-link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem; }
    .header__auth-nav-link:hover {
      border-bottom: 3px solid #fff; }

.plate {
  height: 2.5rem;
  width: 90%;
  background: #656565;
  border-radius: 2rem 2rem 20rem 20rem;
  margin: 0 auto; }
