.controller{
    @include clearfix;
    padding: 5px 0;
    &:not(:last-child){
        margin-bottom: .5rem;

    }
    //border: 1px solid green;

    &__icon{
        display: block;
        float: left;
        width: 3rem;
        margin-right: 1rem;
        margin-top: .3rem;
    }


    &__ingredient{
        display: block;
        font-size: 1.4rem;
        float: left;
        margin-top: 2rem;
        padding: 1px;
        width: 40%;
        text-transform: uppercase;
        font-weight: 700;
        text-align: left;
       //border: 1px dotted $color-primary;
       color: $color-primary;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        

    }
    &__control-btn{
        float: right;
       // border: 1px solid yellow;
        width: 50%; 
        margin-top: -2rem;  


    }

    &__item-price{

        //border: 1px solid green;
        width: 20rem;
        float: right;
        margin-top: 1.5rem;
        font-size: 1.8rem;
        margin-right: 6rem;
        color: $color-primary;
        font-weight: 500;
        //height: 5rem;



           .quant{
               display: inline-block;
               float: left;
               color: $color-green-primary;
               
               

           }


           .up{
            display: inline-block;

           }
    }

  
    &__btn{
        text-decoration: none;
        outline: none;
        border: none;
        height: 2rem;;
        //border: 1px solid red;
        // cursor: pointer;
        &:not(:last-child){
            margin-right:2px;
        }

        display: inline-block;
        width: 40%;
        //padding: 3px;
        background-color:$color-primary;
        color: white;
        box-shadow: 0 .4rem .8rem rgba(rgb(119, 116, 116),.8);
        cursor: pointer;
        transition: all .2s;



        &:hover{
           // transform: translateY(-1px);
        }

        &:active{
            transform: translateY(1px);
            box-shadow: 0 .2rem .7rem rgba(rgb(119, 116, 116),.8);
        }

        
     
       
        &--add{
            border-radius: 50px 0 0 50px;
            

        }


        &--remove{
            border-radius: 0 50px 50px 0;

        }
    }


}