.controller{
    @include clearfix;
    padding: 5px 0;
    &:not(:last-child){
        margin-bottom: 3rem;

    }
    
  // border: 1px solid green;



    &__ingredient{
        display: block;
        font-size: 1.4rem;
        float: left;
       margin-top: 6px;
       padding: 1px;
       width: 50%;
       //border: 1px solid orangered;
        

    }
    &__control-btn{
        float: right;
       // border: 1px solid yellow;
        width: 50%;   


    }

  
    &__btn{
        text-decoration: none;
        outline: none;
        border: none;
        height: 3rem;;
        //border: 1px solid red;
        // cursor: pointer;
        &:not(:last-child){
            margin-right:2px;
        }

        display: inline-block;
        width: 40%;
        padding: 3px;
        background-color:$color-primary;
        color: white;
        box-shadow: 0 .3rem .8rem rgba(rgb(119, 116, 116),.8);
        cursor: pointer;



        &:hover{
            transform: translateY(-1px);
        }
        
        
     
       
        &--add{

        }


        &--remove{

        }
    }


}