.header{
    //position: fixed;
   //width: 100%;
    padding: 1rem 1rem;
    //background-image: linear-gradient(to right,red,rgba(255, 0, 0, 0.308));
    background: $color-primary;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $color-primary,$color-primary-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    box-shadow: 0 .5rem 2rem rgba(#333,.5);
    font-size: 1rem;
    height: 10vh;
    margin-bottom: 5rem;


    &__logo{

        float: left;
        width: 15rem;
        @include clearfix;


    }

    &__logo-link{
        //color: #333;
        text-decoration: none;
        color: white;

    }

    &__logo-img{
        color: #333;
        display: block;
        float: left;
        width: 100%;

       
        
       


    }

    // &__slogan{
    //     display: block;
    //     float: right;
    //     color: inherit;
    //     margin-top: 2rem;
    //     font-size: 5rem;
        

    // }


    &__nav{
        list-style: none;
        display: inline-block;
        font-size: 1.6rem;
      
    }


    &__nav-item{
        display: inline-block;
        //padding: 2rem;
        //transition: all .3s;

       

    }

    &__nav-link{
        text-decoration: none;
        color: white;
        display: block;
        padding: 2rem; 
        &:hover {
            border-bottom: 3px solid $color-primary-light
        }


    }


    &__auth{
        float: right;


    }

    &__auth-nav{
        list-style: none;
        //font-size: 1.2rem;
    }


    &__auth-nav-item{
        display: inline-block;
        //padding: 1rem;

       

    }


    &__auth-nav-link{
        text-decoration: none;
        color: white;
        display: block;
        padding:1rem;
        &:hover{
          
            border-bottom: 3px solid #fff;
        
        }

    }


    // &__user{
    //    background-color: #FB8C00;
    // }


}

