.header{
    //position: fixed;
   //width: 100%;
    padding: 1rem 1rem;
    //background-image: linear-gradient(to right,red,rgba(255, 0, 0, 0.308));
    background: #673AB7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    box-shadow: 0 .5rem 2rem rgba(#333,.9);
    font-size: 1rem;
    height: 10vh;
    margin-bottom: 5rem;


    &__logo{

        float: left;


    }

    &__logo-link{
        color: #333;

    }

    &__logo-img{
        color: #333;

    }


    &__nav{
        list-style: none;
        display: inline-block;
      

    }


    &__nav-item{
        display: inline-block;
        padding: 2rem;

    }

    &__nav-link{
        text-decoration: none;
        color: white;

    }


    &__auth{
        float: right;


    }

    &__auth-nav{
        list-style: none;
    }


    &__auth-nav-item{
        display: inline-block;
        padding: 1rem;

    }


    &__auth-nav-link{
        text-decoration: none;
        color: white;

    }


    // &__user{
    //    background-color: #FB8C00;
    // }


}

