*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




html{
    font-size: 62.5%;
}

/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  font-family: $base-font;
  //padding: 25px 20px;
  margin: 0;
  text-align: center;
}
